.depoiment-section {
    position: relative;
}

.background-depoiment {
    width: 100%;
}

.depoiment-container {
    position: absolute;
    top: 0%;
    left: 10%;
    transform: translateX(-14%);
    transform: translateY(2%);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    justify-items: center;
    align-items: center;
    width: 80%;
    margin: auto;
    z-index: 1;
}

.logo-home {
    margin-top: 1em;
}

.title-depoiment {
    color: #1CA9FF;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5rem;
    padding-top: 1em;

}

.description-depoiment {
    color: #FFF;
    text-align: center;
    font-family: 'Archivo', sans-serif;
    font-size: 0.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1rem;
    padding-top: 1em;
}

.video-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
}

.video {
    margin-block: 1em;
    width: 260px;
    height: 400px;
    background-color: #85E7FD;
}