.question-section {
    position: relative;
    max-height: 2054px;
}

.background-questions {
    width: 100%;
}

.container-question {
    position: absolute;
    top: 8%;
    left: 10%;
    transform: translateX(auto);
    transform: translateY(auto);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    justify-items: center;
    align-items: center;
    width: 80%;
    margin: auto;
    z-index: 1;
}

.title-section {
    color: #1CA9FF;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.3rem;
    width: 40%;
    padding-bottom: 1em;
}

.container-question-cards {
    display: flex;
    flex-flow: column nowrap;
    justify-items: center;
    align-items: center;
}

.question-card {
    border-radius: 16px;
    background-color: #052B3D;
    display: flex;
    flex-flow: column nowrap;
    justify-items: center;
    align-items: center;
    padding-block: .4em;
    padding-inline: 2em;
    margin-top: 1em;
    width: 100%;
}

.title-question-card {
    color: #1CA9FF;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 0.9rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.1rem;
    padding-top: 2em;
}

.answer-card {
    color: #FFF;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 0.7rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.1rem;
    padding-top: 0.5em;
    padding-bottom: 2em;
}

@media (min-width: 1200px) {
    .background-questions {
        width: 100%;
        height: 1000px;
    }

    .title-section {
        font-size: 1.3rem;
        line-height: 1.5rem;
        width: 60%;
    }

    .container-question-cards {
        flex-flow: row wrap;
    }

    .container-question-cards :nth-child(1) {
        width: 16em;
        height: 8em;
    }

    .container-question-cards :nth-child(2) {
        width: 16em;
        height: 8em;
    }

    .container-question-cards :nth-child(3) :nth-child(1) {
        width: 8em;
    }

    .container-question-cards :nth-child(4) :nth-child(1) {
        width: 8em;
    }

    .container-question-cards :nth-child(5) :nth-child(1) {
        width: 8em;
    }

    .question-card {
        margin: auto;
        padding-block: .4em;
        padding-inline: 2em;
        margin-top: 1em;
        width: 10em;
        height: 18em;
    }

    .title-question-card {
        font-size: .8rem;
        line-height: 1.2rem;
        padding-top: 2em;
        width: 200px;
    }

    .answer-card {
        font-size: 0.55rem;
        line-height: 1rem;
    }
    
}

@media (max-width: 1200px) {
    .background-questions {
        width: 100%;
        height: 1504px;
    }

    .answer-card {
        font-size: 0.6rem;
        line-height: 1rem;
        padding-top: 0.6em;
        padding-bottom: 1.5em;
    }
}

@media (max-width: 576px) {
    .question-section {
        max-height: 1654px;
    }

    .background-questions {
        height: 1654px;
    }
    
    .container-question {
        top: 4%;
    }
    
    .title-section {
        font-size: .95rem;
        line-height: 1.2rem;
    }
    
    .question-card {
        padding-block: .2em;
        padding-inline: 1.5em;
    }
    
    .title-question-card {
        font-size: 0.8rem;
        line-height: .9rem;
    }
    
    .answer-card {
        font-size: 0.6rem;
        line-height: 1rem;
        padding-top: 0.6em;
        padding-bottom: 1.5em;
    }
}

@media (max-width: 500px) {
    .question-section {
        max-height: 2054px;
    }

    .background-questions {
        height: 2054px;
    }
}