.question-section {
    position: relative;
    max-height: 2054px;
}

.background-questions {
    width: 100%;
}

.container-question {
    position: absolute;
    top: 8%;
    left: 10%;
    transform: translateX(auto);
    transform: translateY(auto);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    justify-items: center;
    align-items: center;
    width: 80%;
    margin: auto;
    z-index: 1;
}

.title-section {
    color: #1CA9FF;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.3rem;
    width: 40%;
    padding-bottom: 1em;
}

.container-question-cards {
    display: flex;
    flex-flow: column nowrap;
    justify-items: center;
    align-items: center;
}

.question-card-one, .question-card-two {
    border-radius: 16px;
    background-color: #052B3D;
    display: flex;
    flex-flow: column nowrap;
    justify-items: center;
    align-items: center;
    padding-block: .4em;
    padding-inline: 2em;
    margin-top: 1em;
    width: 100%;
}

.title-question-card {
    color: #1CA9FF;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 0.9rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.1rem;
    width: 100%;
}

.answer-card {
    color: #FFF;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 0.7rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.1rem;
    padding-top: 0.5em;
    padding-bottom: 2em;
}

@media (min-width: 1200px) {
    .background-questions {
        width: 100%;
        height: 1200px;
    }

    .title-section {
        font-size: 1.3rem;
        line-height: 1.5rem;
        width: 60%;
    }

    .first-question-cards {
        display: flex;
        flex-flow: row nowrap;
        justify-items: center;
        align-items: center;
        gap: 1em;
        width: 100%;
    }

    .second-question-cards {
        display: flex;
        flex-flow:  row nowrap;
        justify-content: space-between;
        justify-items: center;
        align-items: center;
        gap: 1em;
    }
    

    .question-card-one {
        width: 55%;
        height: 200px;
        padding: 1em;
        display: flex;
        flex-flow:  column nowrap;
        justify-content: space-around;
        justify-items: center;
        align-items: center;
    } 

    .question-card-two {
        width: 31%;
        max-height: 700px;
        height: 550px;
        display: flex;
        flex-flow:  column nowrap;
        justify-content: space-around;
        justify-items: center;
        align-items: center;
    }

    .answer-card {
        line-height: .9rem;
    }
}

@media (max-width: 1199px) {
    .question-section {
        max-height: 1804px;
    }

    .background-questions {
        height: 1804px;
    }

    .answer-card {
        font-size: 0.6rem;
        line-height: 1rem;
        padding-top: 0.6em;
        padding-bottom: 1.5em;
    }

    .first-question-cards {
        display: flex;
        flex-flow: column nowrap;
        justify-items: center;
        align-items: center;
        gap: 1em;
        width: 100%;
    }

    .second-question-cards {
        display: flex;
        flex-flow:  column nowrap;
        justify-content: space-between;
        justify-items: center;
        align-items: center;
        gap: 1em;
    }
    

    .question-card-one, .question-card-two {
        width: 100%;
        padding: 1em;
    } 
}

@media (max-width: 600px) {
    .question-section {
        max-height: 1804px;
    }

    .background-questions {
        height: 1804px;
    }
    
    .container-question {
        top: 4%;
    }
    
    .title-section {
        font-size: .95rem;
        line-height: 1.2rem;
    }
    
    .question-card {
        padding-block: .2em;
        padding-inline: 1.5em;
    }
    
    .title-question-card {
        font-size: 0.8rem;
        line-height: .9rem;
    }
    
    .answer-card {
        font-size: 0.6rem;
        line-height: 1rem;
        padding-top: 0.6em;
        padding-bottom: 1.5em;
    }
}

@media (max-width: 500px) {
    .question-section {
        max-height: 1954px;
    }

    .background-questions {
        height: 1954px;
    }
}

@media (max-width: 435px) {
    .question-section {
        max-height: 2254px;
    }

    .background-questions {
        height: 2254px;
    }
}

@media (max-width: 400px) {
    .question-section {
        max-height: 2654px;
    }

    .background-questions {
        height: 2654px;
    }
}