.contentContainer {
    padding-block: 20%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    justify-items: center;
    align-items: center;
    width: 80%;
    margin: auto;
}

.title-cards {
    color: #052B3D;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.4rem;
    padding-top: 1.5em;
}

.cards-container-reservation {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    justify-items: center;
    align-items: center;
    gap: 1em;
    margin-top: 1.5em;
}


.title-reservation {
    color: #1CA9FF;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.4rem;
    width: 70%;
}

.description-reservation {
    color: #000;
    text-align: center;
    font-family: 'Archivo', sans-serif;
    font-size: 0.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1rem;
    padding-top: 1.5em;
    width: 70%;
}

.card-reservation {
    position: relative;
}

.exercises-img {
    width: 100%;
}

.name-exercise {
    position: absolute;
    top: 78%;
    left: 10%;
    transform: translateX(19%);
    width: 60%;
}


@media (min-width: 1200px) {
    .title-reservation {
        font-size: 1.3rem;
        line-height: 1.5rem;
    }

    .title-cards {
        font-size: 1rem;
    }

    .cards-container-reservation {
        flex-flow: row nowrap;
    }

    .name-exercise {
        top: 75%;
        transform: translateX(1%);
        width: 80%;
    }

    .btn {
        width: 30%;
    }
}

@media (max-width: 1200px) {
    .title-reservation {
        font-size: 1.1rem;
        line-height: 1.3rem;
    }

    .btn {
        width: 40%;
    }
}

@media (max-width: 576px) {
    .title-cards {
        font-size: .95rem;
    }
    
    .title-reservation {
        font-size: .95rem;
        line-height: 1.4rem;
    }
}