.home-section {
    position: relative;
    max-height: 900px;
}

.backgroung-home {
    width: 100%;
    height: 900px;
}

.content-home-container {
    position: absolute;
    top: 10%;
    left: 10%;
    transform: translateX(auto);
    transform: translateY(auto);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    justify-items: center;
    align-items: center;
    width: 80%;
    margin: auto;
    z-index: 1;
}

.logo-home {
    width: 10em;
    height: 3.5em;
}

.content-text {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.title-home {
    color: #1CA9FF;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.4rem;
    padding-top: 1.5em;
}

.description-home {
    color: #FFF;
    text-align: center;
    font-family: 'Archivo', sans-serif;
    font-size: 0.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1rem;
    padding-top: 1em;
}

.btn {
    border-radius: 16px;
    background: #1CA9FF;
    color: #FFF;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.8rem;
    text-transform: uppercase;
    padding: .7em;
    margin-top: 1em;
    width: 90%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bonus-container {
    display: flex;
    flex-flow: row nowrap;
    justify-items: center;
    align-self: center;
    width: 100%;
    gap: 0.5em;
}

.icon-container {
    display: flex;
    flex-flow: row nowrap;
    padding-top: .5em;
    justify-items: center;
    align-items: center;
    gap: 0.4em;
    margin: auto;
}

.icon {
    width: 1.4em;
    height: 1.4em;
}

.text-icon {
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    text-align: left;
    font-size: 0.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 0.6rem;
    max-width: 4.5em;
}

@media (min-width: 1200px) {
    .logo-home {
        width: 8em;
        height: 4em;
    }

    .content-home-container {
        gap: .8em;
    }
    
    .title-home {
        font-size: 1.3rem;
        line-height: 1.5rem;
    }
    
    .description-home {
        font-size: .75rem;
        line-height: 1.2rem;
        padding-inline: 1.5em;
    }
    
    .btn {
        font-size: .7rem;
        line-height: 1.1rem;
        margin-block: 1.5em;
        width: 70%;
        padding-block: 1em;
    }

    .text-icon {
        font-size: .5rem;
        line-height: .9rem;
        max-width: 5em;
    } 
}


@media (max-width: 1200px) {
   .home-section {
        max-height: 800px;
    }

    .backgroung-home {
        height: 800px;
    }

    .logo-home {
        width: 6em;
        height: 3em;
    }

    .content-home-container {
        gap: 1em;
    }

    .title-home {
        font-size: 1.1rem;
        line-height: 1.3rem;
    }
    
    .description-home {
        font-size: .65rem;
        line-height: 1rem;
    }
}

@media (max-width: 576px) {
    .home-section {
        max-height: 900px;
    }

    .backgroung-home {
        height: 900px;
    }

    .logo-home {
        width: 4em;
        height: 2em;
    }

    .content-home-container {
        gap: .3em;
    }
    
    .title-home {
        font-size: .95rem;
        line-height: 1.2rem;
    }
    
    .description-home {
        font-size: .55rem;
    }
    
    .btn {
        font-size: .6rem;
        line-height: .9rem;
        margin-block: 1.5em;
    }

    .bonus-container {
        flex-flow: row wrap;
    }

    .icon {
        width: 1.2em;
        height: 1.2em;
    }
    
    .text-icon {
        font-size: .5rem;
        line-height: 1rem;
        max-width: 5em;
    }
}

@media (max-width: 500px) {
    .home-section {
        max-height: 1250px;
    }

    .backgroung-home {
        height: 1250px;
    }

    .logo-home {
        width: 8em;
        height: 4em;
    }

    .content-home-container {
        top: 4%;
    }

    .btn {
        font-size: .6rem;
        line-height: .9rem;
        margin-block: 1.5em;
    }
}
