.contact-section {
    background-color: #052B3D;
}

.content-container {
    padding-block: 15%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    justify-items: center;
    align-items: center;
    width: 80%;
    margin: auto;
}

.title-contact {
    color: #1CA9FF;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.3rem;
    margin-bottom: .5em;
}

.btn-contact {
    border-radius: 16px;
    background: #1CA9FF;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    justify-items: center;
    align-items: center;
    width: 90%;
    height: 2.5em;
    margin-top: 1em;
    gap: 0.5em;
}

.icon-contact {
    width: 36px;
    height: 36px;
    flex-shrink: 0;
}

.text-link {
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 48px;
    text-transform: uppercase;
}

@media (max-width: 576px) {
    .title-contact {
        font-size: .95rem;
        line-height: 1.1rem;
    }
    
    .btn-contact {
        width: 75%;
        height: 2em;
    }
    
    .icon-contact {
        width: 1em;
        height: 1em;
    }
    
    .text-link {
        font-size: .7rem;
        line-height: 1.1rem;
    }
}