.footer-section {
    background-color: #052B3D;
    padding-block: 8%;
}

.content-container-footer {
    padding-top: .8em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    justify-items: center;
    align-items: center;
    width: 80%;
    margin: auto;
    gap: 1em;
}

.logo-footer {
    width: 4.5em;
    height: 1.7em;
}

.text-footer {
    color: #FFF;
    text-align: left;
    font-family: 'Archivo', sans-serif;
    font-size: 0.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 0.7rem;
}

@media (min-width: 1200px) {
    .footer-section {
        padding-block: 4%;
    }
}

@media (max-width: 576px) {
    .content-container-footer {
        gap: .7em;
    }
    
    .logo-footer {
        width: 3em;
        height: 1.8em;
    }
    
    .text-footer {
        font-size: 0.4rem;
        line-height: 0.6rem;
    }
}

@media (max-width: 500px) {
    .logo-footer {
        width: 4em;
        height: 2em;
    }

    .text-footer {
        font-size: 0.45rem;
        line-height: 0.5rem;
        width: 14em;
    }
}