:root {
    --mobile: 576px;
    --tablet: 768px;
    --ipad: 992px;
    --notebook: 1200px;
    --deskotop: 1400px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #EBE4DE;
    text-decoration: none;
    font-size: 28px;
    text-align: center;
    /* border: 1px solid red; */
  }
  